body{
    background-color: black;
}

.App {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: black; /* Setting the background to black */
    color: white; /* Ensuring the text is visible on the black background */
}

input[type='text'], input[type='number'] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #555; /* Darker input fields for contrast */
    color: white; /* Text color for visibility */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #08710e;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode input [type='text'], .dark-mode input[type='number'] {
    border: 1px solid #aaa;
    background-color: #555;
    
    color: white;
}

.dark-mode button {
    background-color: #555;
}

.dark-mode button:hover {
    background-color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

p{
    margin-top: 20px;
    font-size: 14px;
}

.install{
    background-color: orangered;
    color: white;
    margin-top: 140px;
}
.reset{
    background-color: red;
    color: white;
    
}
h2{
    color: yellow;
}